.MainPane{
-fx-background-color:#121212 ;
}
.MidPane{
 -fx-background-color:#263238;
}
.BorderPane{
 -fx-background-color:#CF6679;
}
.BorderIcons{
     -fx-cursor:hand;
}
.Buttons{
    -fx-background-color: #263238;
    -fx-padding: 0.7em 0.57em;
     -fx-cursor:hand;
}
.Text{
    -fx-fill:#FFFFFF;
    -fx-prompt-text-fill:#FFFFFF;
     -fx-text-fill:#FFFFFF;

}
.BorderText{
    -fx-fill:#FFFFFF;
}
.jfx-tab-pane:top .depth-container .tab-header-area .tab-header-background{
    -fx-background-color:#263238;

}
.jfx-tab-pane .tab .tab-label {
                 -fx-alignment: CENTER;
                 -fx-text-fill: white   ;
                  -fx-font-family: "Trebuchet MS";
                 -fx-font-size: 14px; /* before it was 12px */
                  -fx-font-style: italic;
                 -fx-padding: 0.5em 2em 0.5em 10em;
                 -fx-wrap-text: true;
                 -fx-cursor:hand;
 }
 .jfx-tab-pane .tab:hover .tab-label{
 	-fx-background-color:#CF6679;
 	-fx-background-radius: 0.0;
 }
 .jfx-tab-pane .tab-selected-line { -fx-background-color:  transparent; }
 .jfx-tab-pane .tab:click .tab-label{

   	-fx-background-color:#CF6679;
   	-fx-background-radius: 0.0;
   }
.jfx-text-field
{
    -jfx-focus-color:#FFFFFF;
    /*-jfx-unfocus-color: #fffd8c; doesn't work*/
}

.text-field
{

    -fx-prompt-text-fill: #BB86FC; /*Yellow - floating label*/
    -fx-text-fill:#E1E2E1; /*Yellow - input color*/
    -fx-highlight-fill: #CF6679; /*Green*/
}
}
.text-field .input-line
{
    -fx-background-color: #BB86FC; /*Yellow - bottom bar*/
}

.glyph-icon{
    -fx-font-family:"FontAwesome";
    -fx-fill:#E1E2E1;
 }
 .jfx-button{
 -fx-text-fill:#E1E2E1;
 }


.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{

    -fx-background-color:#BB86FC;
}
.Filler{
    -fx-background-color: #BB86FC;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #263238;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;

}

.table-row-cell{
    -fx-background-color: #121212;
    -fx-table-cell-border-color:white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: #263238;
    -fx-table-cell-border-color:white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #607D8B;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view .filler {
    -fx-background-color: #BB86FC;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

